.open-categories > div:nth-child(1){
    top: -1px;
}

.open-categories > div:nth-child(1) > div:nth-child(1) {
    transition: all .11s ease-in,transform .11s .11s ease-in,border-bottom-width .022000000000000002s .08800000000000001s;
    height: 0;
    border-bottom-width: 0;
    border-top: 2px solid #5c5cd6;
    background: #5c5cd6;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%,-1px) rotate(-45deg);
}

.open-categories > div:nth-child(1) > div:nth-child(1) > div{
    transition: background .001ms .001ms;
    background: #e0e0f6;
}

.open-categories > div:nth-child(1) > div:nth-child(2) {
    transition: all .11s ease-in,opacity .001ms .11s ease-in;
    top: 50%;
    opacity: 0;
}

.open-categories > div:nth-child(1) > div:nth-child(3) {
    transition: all .11s ease-in,transform .11s .11s ease-in,border-radius .007700000000000001s .08800000000000001s;
    top: 50%;
    width: 18.5px;
    transform-origin: 50% 50%;
    transform: translate(-50%,-1px) rotate(45deg);
    border-radius: 2px;
}